:root {
	--slot-height: 15rem;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 5px 10px;
}

.carousel-container {
	overflow: hidden;
	height: var(--slot-height);
}

.inner {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	transition: transform 0.3s;
}

.carousel-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: var(--slot-height);

	color: white;
}

.carousel-item img {
	width: 90%;
}


/* 	margin: 0 auto; */
.selector-btn {
	border: none;
}