body {
	background: #1b1b1b;

	background-image: url("./background.jpg");
	background-position: bottom;
	animation: 250s linear 0s infinite bp;
	min-height: 100%;
    display: grid;
	grid-template-rows: 54px auto 1fr;
	color: white;
}

/* Yoinked from old project */
@keyframes bp {
  from {
    background-position:  1200px 0;
  }
  
  to {
    background-position:  0 1200px;
  }
}

/* 
.slot {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} */

/* .glass { */
/* 	z-index: 1; */
/* 	position: absolute; */
/* 	width: 450px; */
/* 	height: 355px; */
/* 	left: 45px; */
/* 	top: 275px; */

	/* Note: backdrop-filter has minimal browser support */

/* } */